fastapi
uvicorn[standard]
dvc
dvc[gdrive]
dvc[gs]
openai
tqdm
nltk
tiktoken
pinecone-client==3.0.0
pinecone-datasets==0.7.0
langchain-pinecone==0.0.3
langchain-openai==0.0.7
langchain==0.1.9
scikit-learn
langchain_pinecone
python-dotenv
numpy
PyPDF2
langchain_community
langchainhub